<?xml version="1.0" encoding="UTF-8"?>
<package packagerversion="1.4.1" version="2.0" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
 <name>symfony</name>
 <channel>pear.symfony-project.com</channel>
 <summary>PHP5 framework.</summary>
 <description>PHP5 framework.
 </description>
 <lead>
  <name>Fabien POTENCIER</name>
  <user>fabpot</user>
  <email>fabien.potencier@symfony-project.com</email>
  <active>yes</active>
 </lead>
 <date>##CURRENT_DATE##</date>
 <version>
   <release>##SYMFONY_VERSION##</release>
   <api>0.7.0</api>
 </version>
 <stability>
  <release>##STABILITY##</release>
  <api>beta</api>
 </stability>
 <license uri="http://www.symfony-project.com/license">MIT license</license>
 <notes>-</notes>
 <contents>
  <dir name="/">
   <file role="script" baseinstalldir="/" name="bin/symfony.sh">
    <tasks:replace type="pear-config" from="@PHP-BIN@" to="php_bin"/>
    <tasks:replace type="pear-config" from="@BIN-DIR@" to="bin_dir"/>
    <tasks:replace type="pear-config" from="@PEAR-DIR@" to="php_dir"/>
   </file>
   <file role="script" baseinstalldir="/" name="bin/symfony.bat">
    <tasks:replace type="pear-config" from="@PHP-BIN@" to="php_bin"/>
    <tasks:replace type="pear-config" from="@BIN-DIR@" to="bin_dir"/>
    <tasks:replace type="pear-config" from="@PEAR-DIR@" to="php_dir"/>
   </file>

   <file role="php" baseinstalldir="/" install-as="symfony.php" name="bin/symfony.php">
    <tasks:replace type="pear-config" from="@DATA-DIR@" to="data_dir" />
    <tasks:replace type="pear-config" from="@PEAR-DIR@" to="php_dir" />
    <tasks:replace type="package-info" from="@SYMFONY-VERSION@" to="version" />
   </file>

   ##CLASS_FILES##

   <file role="php" baseinstalldir="symfony" install-as="pear.php" name="lib/pear.php">
    <tasks:replace type="pear-config" from="@DATA-DIR@" to="data_dir" />
    <tasks:replace type="pear-config" from="@PEAR-DIR@" to="php_dir" />
    <tasks:replace type="package-info" from="@SYMFONY-VERSION@" to="version" />
   </file>

   <file role="doc" baseinstalldir="symfony" name="LICENSE" />
   <file role="doc" baseinstalldir="symfony" name="UPGRADE" />
  </dir>
 </contents>
 <dependencies>
  <required>
   <php>
    <min>5.0.0</min>
   </php>
   <pearinstaller>
    <min>1.4.1</min>
   </pearinstaller>
   <package>
    <name>pake</name>
    <channel>pear.symfony-project.com</channel>
    <min>1.0.89</min>
   </package>
  </required>
 </dependencies>

 <phprelease>
   <installconditions>
    <os>
     <name>windows</name>
    </os>
   </installconditions>
   <filelist>
    <install as="symfony.bat" name="bin/symfony.bat" />
    <ignore name="bin/symfony.sh" />
   </filelist>
  </phprelease>

  <phprelease>
   <filelist>
    <install as="symfony" name="bin/symfony.sh" />
    <ignore name="bin/symfony.bat" />
   </filelist>
  </phprelease>

 <changelog>
 </changelog>
</package>
