.class-declaration {
    font-family: "courier new", courier;
    font-size:   1.1em;
}

.class-description {
    background-color: #F0F0F0;
    font-size:        1.1em;
    margin-top:       10px;
    padding:          1px 8px 1px 8px;
}

.inheritence-tree pre {
    margin-bottom: 0;
}

.sub-classes h4 {
    margin: 10px 0 0 0;
}

.sub-classes div {
    font-family: "courier new", courier;
    font-size:   1.1em;
    margin:      5px 0 0 40px;
}