.constant-details {
    background-color: #ddd;
    font-size:        1.0em;
    width:            100%;
}

.constant-details h3 {
    color: #750000;
}

.constant-details td {
    background-color: #FFFFFF;
    padding:          5px;
}

.constant-details th {
    background-color: #F0F0F0;
    font-weight:      bold;
    font-size:        1.6em;
    padding:          5px;
    text-align:       left;
}

.constant-summary {
    background-color: #ddd;
    font-size:        1.0em;
    width:            100%;
}

.constant-summary td {
    background-color: #FFFFFF;
    padding:          5px;
}

.constant-summary td.name a {
    font-family: "courier new", courier;
    font-size:   1.0em;
    font-weight: bold;
}

.constant-summary td.type {
    font-family: "courier new", courier;
    font-size:   1.0em;
}

.constant-summary th {
    background-color: #F0F0F0;
    font-weight:      bold;
    font-size:        1.6em;
    padding:          5px;
    text-align:       left;
}

.inherited-constants {
    background-color: #eee;
    font-size:        1.0em;
    margin-top:       10px;
    width:            100%;
}

.inherited-constants td {
    background-color: #FFFFFF;
    font-family:      "courier new", courier;
    font-size:        1.1em;
    padding:          5px;
}

.inherited-constants th {
    background-color: #F0F0F0;
    font-weight:      bold;
    padding:          5px;
    text-align:       left;
}
