.inherited-methods {
    background-color: #ddd;
    font-size:        1.0em;
    margin-top:       10px;
    width:            100%;
}

.inherited-methods td {
    background-color: #FFFFFF;
    font-family:      "courier new", courier;
    font-size:        1.1em;
    padding:          5px;
}

.inherited-methods th {
    background-color: #F0F0F0;
    font-weight:      bold;
    padding:          5px;
    text-align:       left;
}

.method-detail {
    font-size: 1.0em;
}

.method-detail a {
    font-weight: bold;
}

.method-detail td {
    font-family:    "courier new", courier;
    font-size:      1.1em;
    padding-top:    10px;
    vertical-align: top;
}

.method-details {
    background-color: #ddd;
    font-size:        1.0em;
    width:            100%;
}

.method-details td {
    background-color: #FFFFFF;
}

.method-details td.method-data {
    padding: 5px;
}

.method-details h2 {
    color: #750000;
}

.method-details th {
    background-color: #F0F0F0;
    font-weight:      bold;
    font-size:        1.6em;
    padding:          5px;
    text-align:       left;
}

.method-summary {
    background-color: #aaa;
    font-size:        1.0em;
    width:            100%;
}

.method-summary td {
    background-color: #FFFFFF;
    padding:          5px;
}

.method-summary td a {
    font-weight: bold;
}

.method-summary td.type {
    font-family:    "courier new", courier;
    font-size:      1.0em;
    text-align:     right;
    vertical-align: top;
}

.method-summary div.declaration {
    font-family: "courier new", courier;
    font-size:   1.1em;
}

.method-summary th {
    background-color: #F0F0F0;
    font-weight:      bold;
    font-size:        1.6em;
    padding:          5px;
    text-align:       left;
}

.method-summary tr.reference td {
    background-color: #FFEDED;
}
