.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
	border-bottom: 0;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
	font-weight:bold;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted blue;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
	font-weight:bold;
}
.dtree .clip {
	overflow: hidden;
}
