#sfStatsBase
{
  z-index: 999;
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-size: 10px;
  color: #666;
  text-align: left;
  line-height: 12px;
}

.sfStats
{
  width: 110px;
  position: absolute;
  right: 2px;
  top: 2px;
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  opacity: 0.6;
}

#sfStatsBase a, #sfStatsBase a:hover
{
  text-decoration: none;
  border: none;
  background-color: none;
  color: #00f;
}

#sfStatsBase img
{
  border: 0;
}

#sfStatsInfo
{
  background-color: #dfd;
}

#sfStatsError
{
  background-color: #f00;
}

#sfStatsWarning
{
  background-color: orange;
}

#sfStatsRightMenu
{
  padding-top: 2px;
  padding-bottom: 2px;
  float:right;
}

#sfStatsLeftMenu
{
  padding-top: 4px;
  padding-left: 2px;
  padding-bottom: 2px;
  font-size: 11px;
  color: #333;
}

#sfStatsDetails
{
  background-color: #ccc;
  padding: 2px;
}

#sfStatsTime
{
  padding: 2px;
  background-color: #aaa;
  color: #fff;
}

.sfStatsGreen, .sfStatsOrange, .sfStatsRed
{
  padding-bottom: 3px;
}

.sfStatsLogType
{
  color: darkgreen;
}

.sfStatsFileInfo
{
  color: blue;
}

.ison
{
  color: green;
}

.isoff
{
  color: red;
}

#sfStatsLogMain
{
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
}

#sfStatsLog
{
  margin: 0;
  padding: 3px;
  padding-bottom: 10px;
  font-family:arial;
  font-size:11px;
  border: 1px solid #aaa;
  background-color: #eee;
  color: #333;
}

#sfStatsLogs
{
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}

#sfStatsLogs tr
{
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
}

#sfStatsLogs td
{
  padding: 0;
  margin: 0;
  border: 0;
  padding: 0 3px;
  font-family: Arial;
  font-size: 11px;
  vertical-align: top;
}

#sfStatsLogMenu
{
  background-color: #aaa;
  padding: 4px;
}

.sfStatsDebugInfo
{
  margin-left: 10px;
  padding-left: 5px;
  border-left: 1px solid #ccc;
}

.sfStatsCache
{
  padding: 0;
  margin: 0;
  font-family: Arial;
  position: absolute;
  overflow: hidden;
  z-index: 995;
  font-size: 9px;
  padding: 2px;
  filter:alpha(opacity=85);
  -moz-opacity:0.85;
  opacity: 0.85;
}
